@import url('bootswatch.darkly.css');


body {
    color: white;
	background-color: black;
}
.MetadataLine, .ui-widget-content {
    color: #ddd;
}

.panel, .dropdown-menu, .ui-widget-content, .ui-menu .ui-menu-item {
	background-color: rgba(10,10,10, 0.90) !important;
}
.ui-dialog-titlebar {
	background-image: linear-gradient(#666, #333, #222);
	background-repeat: no-repeat;
}
.ui-widget-content {
    border: 0 !important;
}

a, a:visited, .ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited, .ui-state-focus a, .ui-state-focus a:link, .ui-state-focus a:visited {
    color: #DDD !important;
}
a:hover {
    color: #FFF !important;
}
select, button, input {
	background-color: #555;
	border: none;
}
.btn-default { color: gray; }



/* graph */
.node text { 	fill: white; }
.edge { stroke: gray; }



/* wiki overrides for dark themes */
.WikiBrowser td, .WikiBrowser tr, .WikiBrowser table, .WikiBrowser div {
	background: none !important;
	color: inherit !important;	
	padding: 0.5em !important;
}



.navbar-default .navbar-brand {
	color: #FFF;
}
.navbar-default {
	background-color: #222;
	border: 0;
	border-bottom: 1px solid gray;
}
.modal-content {
	background-color: rgba(0,0,0,0.85);
}

.ui-mainmenu {
    background-color: rgba(20,20,20,0.4);
}
#LoadingSplash2 { 
    background-color: black; 
}
.tagSectionHovered {
    background-color: rgba(255,255,255,0.2);
}

.ChatViewInput .nameInput {
    color: white;
    background-color: black;
    border: 1px solid gray;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(225, 225, 225, 0.7) !important;
}
::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.7) !important;
}
.ui-widget-content {
    border: 1px solid gray;
}
.ObjectViewButtons button {
    color: white !important;
}


/* graph */
.link {
    fill: white !important;
}
.node text {
    fill: white !important;
}
.graphArrowhead {
    fill: white !important;
    opacity: 0.65;
}


/* datatables */
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
	color: white !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
	color: white !important;
}

